body {
  background-color: beige;
  margin: 0;
}

h1 {
  color: white ;
  background-color: navy;
  text-align: center;
  font-family: Georgia,serif;
  font-style: normal;
  font-weight: normal;
  font-kerning:normal;
  padding: 2%;
}

h3 {
  color: black;
  text-align: center;
  font-family: Arial
}
h4 {
  color: black;
  text-align: center;
  font-family: Arial;
  font-weight: normal
}

p {
  color: black;
  text-align: center;
  font-family: Arial;
  line-height: 30px
}
ul {
  color: black;
  text-align: left;
  font-family: Arial;
  line-height: 30px
}

#container {
  max-width: 900px;
  min-height: 900px;
  margin: 2% auto;
  /* padding: 3%; */
  background-image: url(./img/smoothie.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  box-shadow: 10px 10px 15px black;
}

  #select {
    text-align: left;
  }

  #app {
    margin: 2% auto;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.5);
    max-width: 450px;
    min-height:800px
  }

  #frukt1 {
    font-family: Arial;
    font-size: 15pt;
    color: white;
    background-color: rgb(206, 56, 40);
    text-align: center;
    padding: 1%;
    margin-left: 3%;
    margin-right: 3%
  }
  #frukt2 {
    font-family: Arial;
    font-size: 15pt;
    color: white;
    background-color: rgb(195, 50, 38);
    text-align: center;
    padding: 1%;
    margin-left: 3%;
    margin-right: 3%
  }
  #notter_etc{
    font-family: Arial;
    font-size: 15pt;
    color: white;
    background-color: rgb(182, 43, 35);
    text-align: center;
    padding: 1%;
    margin-left: 3%;
    margin-right: 3%
  }
  #proteiner{
    font-family: Arial;
    font-size: 15pt;
    color: white;
    background-color: rgb(169, 36, 33);
    text-align: center;
    padding: 1%;
    margin-left: 3%;
    margin-right: 3%
  }
  #vatska{
    font-family: Arial;
    font-size: 15pt;
    color: white;
    background-color: rgb(161, 31, 27);
    text-align: center;
    padding: 1%;
    margin-left: 3%;
    margin-right: 3%
  }
  #fetter_oljor{
    font-family: Arial;
    font-size: 15pt;
    color: white;
    background-color: rgb(152, 28, 26);
    text-align: center;
    padding: 1%;
    margin-left: 3%;
    margin-right: 3%
  }
  #kryddor{
    font-family: Arial;
    font-size: 15pt;
    color: white;
    background-color: rgb(144, 25, 24);
    text-align: center;
    padding: 1%;
    margin-left: 3%;
    margin-right: 3%
  }
  #sotningsmedel{
    font-family: Arial;
    font-size: 15pt;
    color: white;
    background-color: rgb(138, 23, 23);
    text-align: center;
    padding: 1%;
    margin-left: 3%;
    margin-right: 3%
  }

#frukt1:hover {
   background-color: rgba(206, 56, 40, 0.8);
}

#frukt2:hover {
   background-color: rgba(195, 50, 38, 0.8);
}

#notter_etc:hover {
   background-color: rgba(182, 43, 35, 0.8);
}

#proteiner:hover {
   background-color: rgba(169, 36, 33, 0.8);
}

#vatska:hover {
   background-color: rgba(161, 31, 27, 0.8);
}

#fetter_oljor:hover {
   background-color: rgba(152, 28, 26, 0.8);
}

#kryddor:hover {
   background-color: rgba(144, 25, 24, 0.8);
}

#sotningsmedel:hover {
   background-color: rgba(138, 23, 23, 0.8);
}
